/*--------------------------------------------------------------
# About One
--------------------------------------------------------------*/
.about-one {
    position: relative;
    display: block;
    padding: 90px 0 180px;
    z-index: 1;
}

.about-one__shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.about-one__star {
    position: absolute;
    top: 40px;
    right: 135px;
    z-index: -1;
}

.about-one__star img {
    width: auto;
}

.about-one__left {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-right: 128px;
}

.about-one__img-box {
    position: relative;
    display: block;
    z-index: 1;
}

.about-one__shape-1 {
    position: absolute;
    top: -17px;
    left: -17px;
    height: 180px;
    width: 180px;
    background-color: rgba(var(--finris-base-rgb), .20);
    border-radius: 50%;
    z-index: 3;
}

.about-one__shape-2 {
    position: absolute;
    top: -7px;
    left: -7px;
    height: 28px;
    width: 28px;
    background-color: rgba(var(--finris-base-rgb), 1);
    border-radius: 50%;
    z-index: 3;
}

.about-one__img {
    position: relative;
    display: block;
    border: 1px dashed var(--finris-base);
    padding: 20px;
    border-radius: 32px;
    overflow: hidden;
    z-index: 1;
}

.about-one__img::before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.about-one__img:hover::before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.about-one__img img {
    width: 100%;
    border-radius: 16px;
}

.about-one__img-two {
    position: absolute;
    bottom: -66px;
    right: -44px;
    border-radius: 50%;
    width: 295px;
    z-index: 2;
}

.about-one__img-two img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid var(--finris-base);
}

.about-one__img-two:before {
    content: "";
    position: absolute;
    top: 27px;
    right: 34px;
    height: 28px;
    width: 28px;
    background-color: rgba(var(--finris-base-rgb), 1);
    border-radius: 50%;
    z-index: 2;
}

.about-one__img-two:after {
    content: "";
    position: absolute;
    bottom: 27px;
    left: 34px;
    height: 28px;
    width: 28px;
    background-color: rgba(var(--finris-base-rgb), 1);
    border-radius: 50%;
    z-index: 2;
}

.about-one__right {
    position: relative;
    display: block;
}

.about-one__right .section-title {
    margin-bottom: 14px;
}

.about-one__text {
    margin-bottom: 30px;
}

.about-one__right-content-box {
    position: relative;
    display: block;
    border: 1px solid var(--finris-bdr-color);
    padding: 35px 30px 30px;
    border-radius: 16px;
}

.about-one__points-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.about-one__points {
    position: relative;
    display: block;
}

.about-one__points li {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.about-one__points li+li {
    margin-top: 14px;
}

.about-one__points li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    background-color: var(--finris-base);
    border-radius: 50%;
    font-size: 8px;
    color: var(--finris-white);
}

.about-one__points li .text {
    position: relative;
    display: block;
}

.about-one__points li .text p {
    font-weight: 500;
    color: var(--finris-black);
}

.about-one__btn-and-call-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 39px;
}

.about-one__btn-box {
    position: relative;
    display: block;
}

.about-one__call {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.about-one__call:before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -40px;
    width: 1px;
    background-color: var(--finris-bdr-color);
}

.about-one__call-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 48px;
    border: 2px solid var(--finris-base);
    border-radius: 100px;
    font-size: 20px;
    color: var(--finris-base);
}

.about-one__call-content {
    position: relative;
    display: block;
}

.about-one__call-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.about-one__call-title a {
    color: var(--finris-black);
}

.about-one__call-title a:hover {
    color: var(--finris-base);
}

.about-one__call-sub-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

/*--------------------------------------------------------------
# About Two
--------------------------------------------------------------*/
.about-two {
    position: relative;
    display: block;
    padding: 118px 0 120px;
    z-index: 1;
}

.about-two__shape-box {
    position: absolute;
    top: -585px;
    right: -350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: -1;
}

.about-two__shape-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1396px;
    height: 1396px;
    background: rgba(241, 150, 4, 0.01);
    border-radius: 50%;
}

.about-two__shape-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1160px;
    height: 1160px;
    background: rgba(241, 150, 4, 0.01);
    border-radius: 50%;
}

.about-two__shape-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 903px;
    height: 903px;
    background: rgba(241, 150, 4, 0.01);
    border-radius: 50%;
}

.about-two__left {
    position: relative;
    display: block;
}

.about-two__img {
    position: relative;
    display: block;
    overflow: hidden;
    margin-right: 85px;
    z-index: 1;
}

.about-two__img::before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.about-two__img:hover::before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.about-two__img img {
    width: 100%;
    transition: .5s ease;
    transform: scale(1.05);
}

.about-two__img:hover img {
    transform: scale(1);
}

.about-two__right {
    position: relative;
    display: block;
    margin-top: 36px;
    margin-right: 80px;
}

.about-two__points-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 95px;
}

.about-two__points {
    position: relative;
    display: block;
}

.about-two__points li {
    position: relative;
    display: flex;
    gap: 20px;
}

.about-two__points li+li {
    margin-top: 40px;
}

.about-two__points li .icon {
    position: relative;
    display: block;
    top: 7px;
    transition-delay: 0.1s;
    transition: all 500ms ease;
}

.about-two__points li:hover .icon {
    transform: rotateY(180deg);
    transition-delay: 0.1s;
}

.about-two__points li .icon img {
    width: auto;
}

.about-two__points li .content {
    position: relative;
    display: block;
}

.about-two__points li .content h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.about-two__bottom {
    position: relative;
    display: block;
}

.about-two__btn-and-call-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 47px;
    border: 1px dashed var(--finris-bdr-color);
    padding: 19px 19px 19px;
    border-radius: 48px;
    max-width: 460px;
    width: 100%;
}

.about-two__btn-box {
    position: relative;
    display: block;
}

.about-two__call {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    flex: 1;
}

.about-two__call:before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -30px;
    width: 1px;
    background-color: var(--finris-bdr-color);
}

.about-two__call-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 48px;
    background-color: var(--finris-black);
    border-radius: 100px;
    font-size: 20px;
    color: var(--finris-white);
}

.about-two__call-content {
    position: relative;
    display: block;
}

.about-two__call-number {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 6px;
}

.about-two__call-number a {
    color: var(--finris-black);
}

.about-two__call-number a:hover {
    color: var(--finris-base);
}

.about-two__call-sub-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-transform: capitalize;
}

/*--------------------------------------------------------------
# About Three
--------------------------------------------------------------*/
.about-three {
    position: relative;
    display: block;
    padding-top: 120px;
    z-index: 1;
}

.about-three__left {
    position: relative;
    display: block;
    margin-right: 295px;
}

.about-three__img-box {
    position: relative;
    display: block;
}

.about-three__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 40px;
    z-index: 1;
}

.about-three__img::before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.about-three__img:hover:before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.about-three__img img {
    width: 100%;
    border-radius: 40px;
}

.about-three__img-2 {
    position: absolute;
    bottom: -66px;
    right: -163px;
    border-radius: 40px;
}

.about-three__img-2 img {
    border-radius: 40px;
    border: 10px solid var(--finris-white);
}

.about-three__experience-box {
    position: absolute;
    left: 47px;
    bottom: -58px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--finris-base);
    border-radius: 50px;
    padding: 20px 40px 20px;
    z-index: 2;
}

.about-three__count {
    position: relative;
    display: block;
}

.about-three__count h3 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: var(--finris-white);
}

.about-three__count-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: var(--finris-white);
}

.about-three__video-link {
    position: absolute;
    top: 108px;
    right: -120px;
}

.about-three__video-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: var(--finris-white);
    background-color: rgba(255, 56, 56, .60);
    border-radius: 50%;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 1;
}

.about-three__video-icon:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(255, 56, 56, .60);
    border-radius: 50%;
    z-index: -1;
}

.about-three__video-icon:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: rgba(255, 56, 56, .60);
    border-radius: 50%;
    z-index: -1;
}

.about-three__video-link .ripple,
.about-three__video-icon .ripple:before,
.about-three__video-icon .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0 rgba(255, 56, 56, .60);
    -o-box-shadow: 0 0 0 0 rgba(255, 56, 56, .60);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 56, 56, .60);
    box-shadow: 0 0 0 0 rgba(255, 56, 56, .60);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.about-three__video-icon .ripple:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
}

.about-three__video-icon .ripple:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
}

.about-three__shape-1 {
    position: absolute;
    top: 22PX;
    left: 30px;
    width: 550px;
    height: 550px;
    border: 1px dashed var(--finris-base);
    border-radius: 50%;
    z-index: -1;
}

.about-three__shape-2 {
    position: absolute;
    top: 83px;
    right: -183px;
    width: 298px;
    height: 298px;
    background: #FDDAEB;
    filter: blur(100px);
    border-radius: 50%;
    z-index: -1;

}

.about-three__shape-3 {
    position: absolute;
    width: 432px;
    height: 432px;
    bottom: -130px;
    left: 10px;
    background: rgba(51, 255, 0, 0.07);
    border-radius: 50%;
    z-index: -1;
}

.about-three__shape-4 {
    position: absolute;
    width: 364px;
    height: 364px;
    left: 45px;
    bottom: -97px;
    background: rgba(51, 255, 0, 0.07);
    border-radius: 50%;
    z-index: -1;
}

.about-three__shape-5 {
    position: absolute;
    right: 138px;
    bottom: -110px;
}

.about-three__shape-5 img {
    width: auto;
}

.about-three__right {
    position: relative;
    display: block;
}

.about-three__right .section-title-two {
    margin-bottom: 19px;
}

.about-three__client-and-text-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 55px;
    margin-top: 28px;
}

.about-three__client-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 210px;
    width: 100%;
}

.about-three__client-img {
    position: relative;
    display: block;
    max-width: 60px;
    width: 100%;
}

.about-three__client-img img {
    width: 100%;
    border: 1px solid var(--finris-gray);
    border-radius: 50%;
}

.about-three__client-content {
    position: relative;
    display: block;
}

.about-three__client-content h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: var(--finris-font);
}

.about-three__client-text {
    color: var(--finris-base);
}

.about-three__points-list {
    position: relative;
    display: block;
    margin-top: 44px;
}

.about-three__points-list li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.about-three__points-list li+li {
    margin-top: 23px;
}

.about-three__points-list li .icon {
    position: relative;
    display: inline-block;
}

.about-three__points-list li .icon img {
    width: auto;
    -webkit-transition: all 0.90s ease;
    -o-transition: all 0.90s ease;
    transition: all 0.90s ease;
}

.about-three__points-list li:hover .icon img {
    transform: scale(.9) translateX(2px);
}

.about-three__points-list li .content {
    position: relative;
    display: block;
}

.about-three__points-list li .content h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 3px;
}














/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/