/*--------------------------------------------------------------
# Blog One
--------------------------------------------------------------*/
.blog-one {
    position: relative;
    display: block;
    padding: 90px 0 120px;
    z-index: 1;
}

.blog-one__star {
    position: absolute;
    top: 140px;
    right: 735px;
    z-index: -1;
}

.blog-one__star img {
    width: auto;
}

.blog-one__carousel {
    position: relative;
    display: block;
}

.blog-one__single {
    position: relative;
    display: block;
    padding: 20px 20px 25px;
    background-color: var(--finris-white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    z-index: 1;
}

.blog-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
}

.blog-one__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: var(--finris-black);
    transition: opacity 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
}

.blog-one__single:hover .blog-one__img::before {
    opacity: 0.8;
}

.blog-one__img img {
    width: 100%;
    border-radius: 10px;
    transform: scale(1.0);
    transition: all 1500ms ease;
}

.blog-one__single:hover .blog-one__img img {
    transform: scale(1.05) rotate(0deg);
}

.blog-one__plus {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 45px;
    right: 0;
    opacity: 0;
    transform: perspective(400px) rotateY(0deg) translateY(-30px);
    transform-origin: bottom;
    transition: all 500ms ease;
    z-index: 3;
}

.blog-one__single:hover .blog-one__plus {
    bottom: 0px;
    opacity: 1;
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    transition-delay: 300ms;
}

.blog-one__plus a {
    position: relative;
    display: inline-block;
    color: var(--finris-white);
    font-size: 20px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.blog-one__plus a:hover {
    color: var(--finris-primary);
}

.blog-one__tags {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 5;
}

.blog-one__tags span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--finris-white);
    font-weight: 400;
    line-height: 14px;
    font-family: var(--finris-font-two);
    text-transform: uppercase;
    background-color: var(--finris-base);
    border: 1px solid var(--finris-bdr-color);
    border-radius: 14px;
    padding: 7px 12px 5px;
}

.blog-one__content {
    position: relative;
    display: block;
    margin-top: 23px;
}

.blog-one__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    text-transform: uppercase;
}

.blog-one__title a {
    color: var(--finris-black);
}

.blog-one__title a:hover {
    color: var(--finris-base);
}

.blog-one__text {
    margin-top: 13px;
    margin-bottom: 17px;
}

.blog-one__user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-one__user-img {
    position: relative;
    display: block;
    height: 56px;
    width: 56px;
    overflow: hidden;
    border-radius: 50%;
}

.blog-one__user-img img {
    width: 100%;
    border-radius: 50%;
}

.blog-one__user-content {
    position: relative;
    display: block;
}

.blog-one__user-name {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.blog-one__user-name a {
    color: var(--finris-black);
}

.blog-one__user-name a:hover {
    color: var(--finris-base);
}

.blog-one__date {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}


.blog-one__carousel.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.blog-one__carousel.owl-carousel .owl-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
}

.blog-one__carousel.owl-carousel .owl-item.active {
    opacity: 1;
    visibility: visible;
}

.blog-one__carousel .owl-nav {
    position: absolute;
    top: -110px;
    right: 0;
    margin: 0 !important;
}

.blog-one__carousel.owl-theme .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: var(--finris-black);
    background-color: transparent;
    border: 1px solid var(--finris-black);
    font-size: 25px;
    margin: 0;
    text-align: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-one__carousel.owl-theme .owl-nav .owl-prev {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: var(--finris-black);
    background-color: transparent;
    border: 1px solid var(--finris-black);
    font-size: 25px;
    margin: 0;
    text-align: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-one__carousel.owl-theme .owl-nav .owl-next {
    margin-left: 5px;
}

.blog-one__carousel.owl-theme .owl-nav .owl-prev {
    margin-right: 5px;
}

.blog-one__carousel.owl-theme .owl-nav .owl-next span,
.blog-one__carousel.owl-theme .owl-nav .owl-prev span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-one__carousel.owl-theme .owl-nav .owl-next:hover,
.blog-one__carousel.owl-theme .owl-nav .owl-prev:hover {
    background-color: var(--finris-black);
    color: var(--finris-white);
}

/*--------------------------------------------------------------
# Blog Two
--------------------------------------------------------------*/
.blog-two {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.blog-two:before {
    content: "";
    position: absolute;
    top: 109px;
    bottom: 120px;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFAF4 50%, #FFFFFF 100%);
    z-index: -1;
}

.blog-two__shape-1 {
    position: absolute;
    bottom: 235px;
    left: -140px;
    opacity: .18;
    z-index: -1;
}

.blog-two__shape-1 img {
    width: auto;
}

.blog-two__shape-2 {
    position: absolute;
    bottom: 315px;
    right: 50px;
    z-index: -1;
}

.blog-two__shape-2 img {
    width: auto;
}

.blog-two__carousel {
    position: relative;
    display: block;
}

.blog-two__single {
    position: relative;
    display: block;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px 24px 23px;
}

.blog-two__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}

.blog-two__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: var(--finris-black);
    transition: opacity 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
}

.blog-two__single:hover .blog-two__img::before {
    opacity: 0.8;
}

.blog-two__img img {
    width: 100%;
    border-radius: 8px;
    transform: scale(1.0);
    transition: all 1500ms ease;
}

.blog-two__single:hover .blog-two__img img {
    transform: scale(1.05) rotate(0deg);
}

.blog-two__plus {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 45px;
    right: 0;
    opacity: 0;
    transform: perspective(400px) rotateY(0deg) translateY(-30px);
    transform-origin: bottom;
    transition: all 500ms ease;
    z-index: 3;
}

.blog-two__single:hover .blog-two__plus {
    bottom: 0px;
    opacity: 1;
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    transition-delay: 300ms;
}

.blog-two__plus a {
    position: relative;
    display: inline-block;
    color: var(--finris-white);
    font-size: 20px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.blog-two__plus a:hover {
    color: var(--finris-primary);
}

.blog-two__content {
    position: relative;
    display: block;
    margin-top: 22px;
}

.blog-two__date {
    position: absolute;
    top: 66px;
    left: -64px;
    border: 1px solid var(--finris-bdr-color);
    border-radius: 5px;
    padding: 4.5px 7px 4.5px;
    transform: rotate(-90deg);
    z-index: 2;
}

.blog-two__date p {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.blog-two__date p span {
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.blog-two__content-inner {
    position: relative;
    display: block;
    margin-left: 42px;
}

.blog-two__tag {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.blog-two__tag li {
    position: relative;
    display: block;
}

.blog-two__tag li p {
    font-size: 14px;
    font-weight: 500;
}

.blog-two__title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
    margin-bottom: 11px;
}

.blog-two__title a {
    color: var(--finris-black);
}

.blog-two__title a:hover {
    color: var(--finris-base);
}

.blog-two__read-more {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.blog-two__read-more-line {
    position: relative;
    display: block;
    width: 64px;
    height: 1px;
    background: rgb(98, 50, 248);
    background: linear-gradient(90deg, rgba(98, 50, 248, 0) 1%, rgba(98, 50, 248, 0.6951155462184874) 54%);
}

.blog-two__read-more-line:before {
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    height: 6px;
    width: 6px;
    background-color: var(--finris-base);
    border-radius: 50%;
}

.blog-two__read-more-text {
    color: var(--finris-base);
    font-weight: 500;
}

.blog-two__read-more-text:hover {
    color: var(--finris-primary);
}

.blog-two__carousel.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.blog-two__carousel.owl-carousel .owl-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
}

.blog-two__carousel.owl-carousel .owl-item.active {
    opacity: 1;
    visibility: visible;
}

.blog-two__carousel.owl-carousel .owl-dots {
    position: absolute;
    bottom: -70px;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
}

.blog-two__carousel.owl-carousel .owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--finris-black);
    margin: 0px;
    padding: 0px;
    transition: all 100ms linear;
    transition-delay: 0.1s;
}

.blog-two__carousel.owl-carousel .owl-dots .owl-dot+.owl-dot {
    margin-left: 10px;
}

.blog-two__carousel.owl-carousel .owl-dot.active {
    background-color: var(--finris-black);
}

.blog-two__carousel.owl-carousel .owl-dots .owl-dot:before {
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    content: "";
    border: 1px solid var(--finris-black);
    border-radius: 50%;
    transform: scale(0);
    transition: all 100ms linear;
    transition-delay: 0.1s;
}

.blog-two__carousel.owl-carousel .owl-dot.active:before {
    transform: scale(1);
}

.blog-two__carousel.owl-carousel .owl-dot:focus {
    outline: none;
}

.blog-two__carousel.owl-carousel .owl-dots .owl-dot span {
    display: none;
}

.blog-two__bottom {
    position: relative;
    display: block;
    margin-top: 50px;
}

.blog-two__btn-box-two {
    position: relative;
    display: block;
}

.blog-two__btn-box-two a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    color: var(--finris-black);
    font-weight: 700;
    padding: 18px 30px 18px;
    border: 1px dashed var(--finris-black);
    border-radius: 50%;
}

.blog-two__btn-box-two a:hover {
    background-color: var(--finris-black);
    color: var(--finris-white);
}


/*--------------------------------------------------------------
# Blog Details
--------------------------------------------------------------*/
.blog-details {
    position: relative;
    display: block;
    padding: 120px 0 32px;
    z-index: 1;
}

.blog-details__left {
    position: relative;
    display: block;
    margin-right: 105px;
}

.blog-details__img {
    position: relative;
    display: block;
}

.blog-details__img img {
    width: 100%;
    border-radius: 16px;
}

.blog-details__content {
    position: relative;
    display: block;
    margin-top: 24px;
}

.blog-details__meta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 35px;
    border: 1px dashed var(--finris-bdr-color);
    border-radius: 16px;
    padding: 19px 19px 19px;
}

.blog-details__meta li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-details__client-img {
    position: relative;
    display: block;
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
}

.blog-details__client-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--finris-black);
    border-radius: 50%;
}

.blog-details__client-img img {
    width: 100%;
    border-radius: 50%;
}

.blog-details__meta li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--finris-bdr-color);
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-details__meta li .icon:hover {
    border: 1px solid var(--finris-base);
    background-color: var(--finris-base);
}

.blog-details__meta li .icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--finris-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-details__meta li .icon:hover span {
    color: var(--finris-white);
}

.blog-details__meta li .content {
    position: relative;
    display: block;
}

.blog-details__meta li .content p {
    font-size: 14px;
    line-height: 14px;
}

.blog-details__meta li .content h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    font-family: var(--finris-font);
    margin-top: 4px;
}

.blog-details__title-1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    margin-top: 20px;
    margin-bottom: 17px;
}

.blog-details__text-2 {
    margin-top: 27px;
    margin-bottom: 57px;
}

.blog-details__title-2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.blog-details__text-3 {
    margin-top: 17px;
    margin-bottom: 24px;
}

.blog-details__points {
    position: relative;
    display: block;
}

.blog-details__points li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-details__points li+li {
    margin-top: 20px;
}

.blog-details__points li .icon {
    position: relative;
    display: block;
    max-width: 14px;
    width: 100%;
    height: 14px;
    border: 1px solid var(--finris-black);
    transform: rotate(45deg);
    border-radius: 4px;
}

.blog-details__points li .icon::before {
    content: "";
    position: absolute;
    right: -3px;
    top: -3px;
    width: 14px;
    height: 14px;
    background-color: var(--finris-base);
    border-radius: 4px;
    z-index: -1;
}

.blog-details__img-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 22px;
}

.blog-details__img-box-img {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.blog-details__img-box-img img {
    width: auto;
    border-radius: 16px;
}

.blog-details__title-3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 28px;
    margin-bottom: 17px;
}

.blog-details__text-box {
    position: relative;
    display: block;
    text-align: center;
    border: 1px solid var(--finris-base);
    border-left: 5px solid var(--finris-base);
    border-radius: 20px;
    padding: 43px 60px 23px;
    margin-top: 40px;
    margin-bottom: 58px;
}

.blog-details__text-box-client-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.blog-details__text-box-client-name span {
    position: relative;
    display: inline-block;
    width: 9px;
    height: 2px;
    background-color: var(--finris-black);
}

.blog-details__text-box-client-name p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-style: italic;
    color: var(--finris-black);
}

.blog-details__text-box-text {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    font-style: italic;
    color: var(--finris-black);
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-details__text-box-icon {
    position: relative;
    display: inline-block;
}

.blog-details__text-box-icon span {
    position: relative;
    display: inline-block;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px var(--finris-gray);
}

.blog-details__title-4 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.blog-details__text-5 {
    margin-top: 17px;
    margin-bottom: 18px;
}

.blog-details__points-2 {
    position: relative;
    display: block;
}

.blog-details__points-2 li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.blog-details__points-2 li+li {
    margin-top: 10px;
}

.blog-details__points-2 li .icon {
    position: relative;
    display: inline-block;
}

.blog-details__points-2 li .icon span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: var(--finris-black);
}

.blog-details__points-2 li p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--finris-black);
}

.blog-details__tag-and-share {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed var(--finris-bdr-color);
    border-bottom: 1px dashed var(--finris-bdr-color);
    padding: 15px 0 15px;
    margin-top: 51px;
    margin-bottom: 40px;
}

.blog-details__tag {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-details__tag-title {
    font-weight: 500;
    color: var(--finris-black);
}

.blog-details__tag-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-details__tag-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-details__tag-list li a {
    font-weight: 500;
    color: var(--finris-gray);
}

.blog-details__tag-list li a:hover {
    color: var(--finris-base);
}

.blog-details__tag-list li span {
    position: relative;
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--finris-base);
    border-radius: 50%;
}

.blog-details__share {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-details__share-title {
    font-weight: 500;
    color: var(--finris-black);
}

.blog-details__share-list {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.blog-details__share-list::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--finris-bdr-color);
    transform: translateY(-50%);
}

.blog-details__share-list a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 12px;
    color: var(--finris-black);
    border: 1px solid var(--finris-bdr-color);
    background-color: var(--finris-white);
    border-radius: 50%;
}

.blog-details__share-list a:hover {
    color: var(--finris-white);
    background-color: var(--finris-base);
    border: 1px solid var(--finris-base);
}

.blog-details__prev-next {
    position: relative;
    display: block;
}

.blog-details__prev {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.blog-details__prev-img {
    position: relative;
    display: block;
    max-width: 80px;
    width: 100%;
}

.blog-details__prev-img img {
    width: 100%;
    border-radius: 3px;
}

.blog-details__prev-content {
    position: relative;
    display: block;
}

.blog-details__prev-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-family: var(--finris-font-two);
}

.blog-details__prev-btn span {
    font-weight: 900;
    transform: rotate(180deg);
    top: -1px;
    position: relative;
}

.blog-details__prev-btn:hover {
    color: var(--finris-black);
}

.blog-details__prev-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 3px;
}

.blog-details__prev-title a {
    color: var(--finris-black);
}

.blog-details__prev-title a:hover {
    color: var(--finris-base);
}

.blog-details__next {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 30px;
}

.blog-details__next-img {
    position: relative;
    display: block;
    max-width: 80px;
    width: 100%;
}

.blog-details__next-img img {
    width: 100%;
    border-radius: 3px;
}

.blog-details__next-content {
    position: relative;
    display: block;
    text-align: right;
}

.blog-details__next-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    font-weight: 400;
    font-family: var(--finris-font-two);
}

.blog-details__next-btn span {
    font-weight: 900;
    top: -1px;
    position: relative;
}

.blog-details__next-btn:hover {
    color: var(--finris-black);
}

.blog-details__next-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 3px;
}

.blog-details__next-title a {
    color: var(--finris-black);
}

.blog-details__next-title a:hover {
    color: var(--finris-base);
}

.comment-one {
    position: relative;
    display: block;
    margin-top: 92px;
}

.comment-one__title-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 48px;
}

.comment-one__title-icon {
    position: relative;
    display: block;
    top: -4px;
}

.comment-one__title-icon img {
    width: auto;
}

.comment-one__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
}

.comment-one__inner {
    position: relative;
    display: block;
}

.comment-one__single {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.comment-one__list+.comment-one__list {
    margin-top: 50px;
}

.comment-one__list {
    position: relative;
    display: block;
    border: 1px solid var(--finris-bdr-color);
    border-radius: 20px;
    padding: 30px 30px 22px;
}

.comment-one__list li {
    position: relative;
    display: block;
}

.comment-one__list li+li {
    margin-top: 40px;
}

.comment-one__list li:nth-child(2) {
    margin-left: 80px;
}

.comment-one__image {
    position: relative;
    display: block;
    max-width: 80px;
    width: 100%;
}

.comment-one__image img {
    width: 100%;
    border-radius: 8px;
}

.comment-one__content {
    position: relative;
    display: block;
}

.comment-one__content h3 {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-family: var(--finris-font);
}

.comment-one__content h3 span {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--finris-gray);
    padding-left: 10px;
    border-left: 1px solid var(--finris-bdr-color);
}

.comment-one__content p {
    margin-top: 14px;
}

.comment-one__btn-box {
    position: absolute;
    top: 0;
    right: 0;
}

.comment-form {
    position: relative;
    display: block;
    background: linear-gradient(360deg, #F3F7FF 0%, #FFFFFF 50%, #F9FAFC 100%);
    border-radius: 16px;
    margin-top: 80px;
    padding: 47px 50px 60px;
}

.comment-form__form {
    position: relative;
    display: block;
}

.comment-form__input-box {
    position: relative;
    display: block;
    margin-bottom: 25px;
}

.comment-form__input-box input[type="text"],
.comment-form__input-box input[type="email"] {
    height: 64px;
    width: 100%;
    border: 1px solid var(--finris-bdr-color);
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--finris-gray);
    display: block;
    border-radius: 8px;
}

.comment-form__input-box textarea {
    font-size: 16px;
    color: var(--finris-gray);
    height: 185px;
    width: 100%;
    border: 1px solid var(--finris-bdr-color);
    border-radius: 8px;
    background-color: transparent;
    padding: 20px 25px 30px;
    outline: none;
    font-weight: 500;
    margin-bottom: 0px;
}

.comment-form__input-box.text-message-box {
    height: 185px;
    margin-bottom: 30px;
}

.comment-form__btn {
    border: none;
}

.comment-form__input-icon {
    position: absolute;
    right: 25px;
    top: 20px;
}

.comment-form__input-icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--finris-gray);
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: relative;
    display: block;
}

.sidebar__single+.sidebar__single {
    margin-top: 40px;
}

.sidebar__search {
    position: relative;
    display: block;
    padding: 20px 25px 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.sidebar__title-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px dashed var(--finris-bdr-color);
    padding-bottom: 10px;
    margin-bottom: 23px;
}

.sidebar__title-icon {
    position: relative;
    display: block;
    top: -3px;
}

.sidebar__title-icon img {
    width: auto;
}

.sidebar__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    font-family: var(--finris-font);
}

.sidebar__search-text {
    margin-bottom: 19px;
}

.sidebar__search-form {
    position: relative;
    display: block;
}

.sidebar__search-form input[type="search"] {
    display: block;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--finris-bdr-color);
    font-weight: 500;
    font-size: 15px;
    height: 56px;
    width: 100%;
    padding-left: 20px;
    padding-right: 60px;
    color: var(--finris-gray);
    border-radius: 28px;
}

.sidebar__search-form button[type="submit"] {
    color: var(--finris-white);
    font-size: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    max-width: 40px;
    width: 100%;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    background-color: var(--finris-base);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sidebar__search-form button[type="submit"]:hover {
    background-color: var(--finris-black);
    color: var(--finris-white);
}

.sidebar__category {
    position: relative;
    display: block;
    padding: 20px 25px 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.sidebar__category-list {
    position: relative;
    display: block;
}

.sidebar__category-list li {
    position: relative;
    display: block;
}

.sidebar__category-list li+li {
    margin-top: 8px;
}

.sidebar__category-list li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    color: var(--finris-gray);
    background-color: transparent;
    border-radius: 8px;
    padding: 11px 20px 11px;
    overflow: hidden;
    z-index: 1;
}

.sidebar__category-list li.active a {
    color: var(--finris-white);
}

.sidebar__category-list li:hover a {
    color: var(--finris-white);
}

.sidebar__category-list li>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background-color: var(--finris-base);
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    transform-origin: bottom right;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    z-index: -1;
}

.sidebar__category-list li:hover a::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transform-origin: top center;
}

.sidebar__category-list li.active a::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transform-origin: top center;
}

.sidebar__post {
    position: relative;
    display: block;
    padding: 20px 25px 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.sidebar__post-list {
    position: relative;
    display: block;
}

.sidebar__post-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar__post-list li+li {
    margin-top: 25px;
}

.sidebar__post-image {
    position: relative;
    display: block;
    max-width: 80px;
    width: 100%;
}

.sidebar__post-image img {
    width: 100%;
    border-radius: 12px;
}

.sidebar__post-content {
    position: relative;
    display: block;
}

.sidebar__post-content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: var(--finris-font);
}

.sidebar__post-content h3 a {
    color: var(--finris-black);
}

.sidebar__post-content h3 a:hover {
    color: var(--finris-base);
}

.sidebar__post-date {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: var(--finris-base);
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    color: var(--finris-white);
    padding: 2px 8px 1px;
    border-radius: 13px;
    margin-top: 9px;
}

.sidebar__tags {
    position: relative;
    display: block;
    padding: 20px 25px 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.sidebar__tags-list {
    position: relative;
    display: block;
    margin-left: -8px;
}

.sidebar__tags-list a {
    color: var(--finris-gray);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: inline-block;
    padding: 6px 16px 6px;
    border: 1px solid var(--finris-bdr-color);
    margin-left: 4px;
    font-weight: 400;
    border-radius: 20px;
}

.sidebar__tags-list a+a {
    margin-top: 8px;
}

.sidebar__tags-list a:hover {
    color: var(--finris-white);
    background-color: var(--finris-base);
    border: 1px solid var(--finris-base);
}

.sidebar__subscribe {
    position: relative;
    display: block;
    padding: 20px 25px 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.sidebar__subscribe-text {
    margin-bottom: 21px;
    color: var(--finris-black);
}

.sidebar__subscribe-form {
    position: relative;
    display: block;
}

.sidebar__subscribe-email {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.sidebar__subscribe-form input[type="email"] {
    position: relative;
    display: block;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--finris-bdr-color);
    font-weight: 500;
    font-size: 15px;
    height: 56px;
    width: 100%;
    padding-left: 20px;
    padding-right: 60px;
    color: var(--finris-gray);
    border-radius: 12px;
}

.sidebar__subscribe-email-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar__subscribe-email-icon span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: var(--finris-gray);
}

/*--------------------------------------------------------------
# Blog List
--------------------------------------------------------------*/
.blog-list {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.blog-list__left {
    position: relative;
    display: block;
    margin-right: 110px;
}

.blog-list__single {
    position: relative;
    display: block;
    border: 1px solid var(--finris-bdr-color);
    border-radius: 20px;
    padding: 23px 23px 23px;
    margin-bottom: 60px;
}

.blog-list__img-box {
    position: relative;
    display: block;
}

.blog-list__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 16px;
    z-index: 1;
}

.blog-list__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: var(--finris-black);
    transition: opacity 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
}

.blog-list__single:hover .blog-list__img::before {
    opacity: 0.8;
}

.blog-list__img img {
    width: 100%;
    border-radius: 16px;
    transform: scale(1.0);
    transition: all 1500ms ease;
}

.blog-list__single:hover .blog-list__img img {
    transform: scale(1.05) rotate(0deg);
}

.blog-list__plus {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 45px;
    right: 0;
    opacity: 0;
    transform: perspective(400px) rotateY(0deg) translateY(-30px);
    transform-origin: bottom;
    transition: all 500ms ease;
    z-index: 3;
}

.blog-list__single:hover .blog-list__plus {
    bottom: 0px;
    opacity: 1;
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    transition-delay: 300ms;
}

.blog-list__plus a {
    position: relative;
    display: inline-block;
    color: var(--finris-white);
    font-size: 20px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.blog-list__plus a:hover {
    color: var(--finris-primary);
}

.blog-list__content {
    position: relative;
    display: block;
    margin-top: 33px;
}

.blog-list__date-and-comment {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 23px;
}

.blog-list__date-and-comment::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--finris-bdr-color);
    transform: translateY(-50%);
}

.blog-list__date {
    position: relative;
    display: block;
}

.blog-list__date p {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: var(--finris-base);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--finris-white);
    padding: 6px 13px 6px;
    border-radius: 17px;
}

.blog-list__comment {
    position: relative;
    display: block;
}

.blog-list__comment p {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: var(--finris-white);
    border: 1px solid var(--finris-bdr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--finris-black);
    padding: 5px 12px 5px;
    border-radius: 17px;
}

.blog-list__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-list__title a {
    color: var(--finris-black);
}

.blog-list__title a:hover {
    color: var(--finris-base);
}

.blog-list__text {
    font-size: 20px;
    line-height: 30px;
}

.blog-list__client-info {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.blog-list__client-img {
    position: relative;
    display: block;
    max-width: 40px;
    width: 100%;
    border: 1px solid var(--finris-black);
    border-radius: 50%;
}

.blog-list__client-img img {
    width: 100%;
    border-radius: 50%;
}

.blog-list__client-content {
    position: relative;
    display: block;
}

.blog-list__client-content span {
    font-size: 14px;
    line-height: 14px;
    position: relative;
    display: block;
}

.blog-list__client-content p {
    font-weight: 500;
    color: var(--finris-black);
}

.blog-list__single-shape-1 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.blog-list__single-shape-1 img {
    width: auto;
}

.blog-list__single-shape-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.blog-list__single-shape-2 img {
    width: auto;
    opacity: .19;
}

.blog-list__single-2 {
    background-color: var(--finris-base);
}

.blog-list__single-2 .blog-list__date p {
    background-color: var(--finris-base);
    border: 1px solid var(--finris-white);
    padding: 5px 12px 5px;
}

.blog-list__single-2 .blog-list__comment p {
    border: 1px solid var(--finris-white);
    background-color: var(--finris-base);
    color: var(--finris-white);
}

.blog-list__single-2 .blog-list__title a {
    color: var(--finris-white);
}

.blog-list__single-2 .blog-list__title a:hover {
    color: var(--finris-primary);
}

.blog-list__single-2 .blog-list__text {
    color: var(--finris-white);
}

.blog-list__single-2 .blog-list__client-content span {
    color: var(--finris-white);
}

.blog-list__single-2 .blog-list__client-content p {
    color: var(--finris-white);
}

.blog-list__single-2 .blog-list__content {
    margin-top: 0px;
}

.blog-list__pagination {
    position: relative;
    display: block;
    text-align: center;
}

.blog-list__pagination .pg-pagination li {
    position: relative;
    display: inline-block;
}

.blog-list__pagination .pg-pagination li+li {
    margin-left: 16px;
}

.blog-list__pagination .pg-pagination li a {
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    display: inline-block;
    color: var(--finris-gray);
    background-color: transparent;
    border: 1px solid var(--finris-gray);
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.blog-list__pagination .pg-pagination li a:hover {
    background-color: var(--finris-base);
    color: var(--finris-white);
}

/*--------------------------------------------------------------
# Blog Page
--------------------------------------------------------------*/
.blog-page {
    position: relative;
    display: block;
    padding: 120px 0 120px;
}

.blog-page .blog-two__single {
    margin-bottom: 30px;
}

.blog-page .blog-list__pagination {
    text-align: left;
    margin-top: 20px;
}

/*--------------------------------------------------------------
# Blog Carousel Page
--------------------------------------------------------------*/
.blog-carousel-page {
    position: relative;
    display: block;
    padding: 120px 0 170px;
}

.blog-carousel-page .blog-two__single {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# One Page Blog One
--------------------------------------------------------------*/
.one-page-blog-one {
    padding: 90px 0 0px;
}

/*--------------------------------------------------------------
# One Page Blog Two
--------------------------------------------------------------*/
.one-page-blog-two {
    padding: 120px 0 0px;
}






/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/