/*--------------------------------------------------------------
# Faq One
--------------------------------------------------------------*/
.faq-one {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    overflow: hidden;
    z-index: 1;
}

.faq-one__shape-bg {
    position: absolute;
    top: 60px;
    bottom: 64px;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .04;
    z-index: -1;
}

.faq-one__left {
    position: relative;
    display: block;
    margin-right: 150px;
}

.faq-one__left .section-title-two {
    margin-bottom: 22px;
}

.faq-one__text {
    margin-bottom: 32px;
}

.faq-one__btn-box {
    position: relative;
    display: block;
}

.faq-one__right {
    position: relative;
    display: block;
    margin-right: 155px;
}

.faq-one__right .faq-one-accrodion .accrodion {
    position: relative;
    display: block;
    background-color: rgba(var(--finris-bdr-color-rgb), .30);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one__right .faq-one-accrodion .accrodion-title {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 19px 30px 16px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    padding-right: 25px;
}

.faq-one__right .faq-one-accrodion .accrodion-title h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: var(--finris-black);
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one__right .faq-one-accrodion .accrodion+.accrodion {
    margin-top: 20px;
}

.faq-one__right .faq-one-accrodion .accrodion-title h4::before {
    content: "\e925";
    font-family: 'icomoon' !important;
    font-weight: 700;
    font-size: 13px;
    color: var(--finris-base);
    position: absolute;
    top: 50%;
    right: 0;
    line-height: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
}

.faq-one__right .faq-one-accrodion .accrodion.active .accrodion-title h4::before {
    content: "\e942";
}

.faq-one__right .faq-one-accrodion .accrodion-content {
    position: relative;
    padding-bottom: 32px;
    padding-left: 30px;
    padding-right: 50px;
    margin-top: -6px;
}

.faq-one__right .faq-one-accrodion .accrodion-content p {
    margin: 0;
}

/*--------------------------------------------------------------
# Faq Page
--------------------------------------------------------------*/
.faq-page {
    position: relative;
    display: block;
    padding: 120px 0 100px;
}

.faq-page .faq-one__right {
    margin-right: 0;
    margin-bottom: 20px;
}













/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/