/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utility
# Cards
# Common
# Form
# Navigations
# Animations
# Mobile Nav
# Search Popup
# Page Header
# Google Map
# Client Carousel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --finris-font: "DM Sans", sans-serif;
  --finris-font-two: "Koulen", sans-serif;
  --finris-gray: #5D6B81;
  --finris-gray-rgb: 93, 107, 129;
  --finris-base: #6232F8;
  --finris-base-rgb: 98, 50, 248;
  --finris-primary: #FEB72B;
  --finris-primary-rgb: 254, 183, 43;
  --finris-black: #243855;
  --finris-black-rgb: 36, 56, 85;
  --finris-white: #ffffff;
  --finris-white-rgb: 255, 255, 255;
  --finris-bdr-color: #E7E7E8;
  --finris-bdr-color-rgb: 231, 231, 232;
}

.row {
  --bs-gutter-x: 30px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

body {
  font-family: var(--finris-font);
  color: var(--finris-gray);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

body.locked {
  overflow: hidden;
}

a {
  color: var(--finris-base);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--finris-font-two);
  color: var(--finris-black);
  margin: 0;
}

p {
  margin: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}


/*=============== scrollbar-Css =============*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: var(--finris-base);
  border-radius: 10px;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--finris-base);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(0deg, var(--finris-base) 0%, var(--finris-primary) 47.60%, var(--finris-primary) 99.23%);
}

.xs-sidebar-widget::-webkit-scrollbar {
  width: 0px;
}





@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  opacity: 0.4;
  z-index: -1;
}


/*--------------------------------------------------------------
# Custom Cursor
--------------------------------------------------------------*/
.custom-cursor__cursor {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid var(--finris-base);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(calc(-50% + 5px), -50%);
  transform: translate(calc(-50% + 5px), -50%);
  z-index: 999991;
}

.custom-cursor__cursor-two {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--finris-base);
  opacity: .3;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: width .3s, height .3s, opacity .3s;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 999991;
}

.custom-cursor__hover {
  background-color: var(--finris-base);
  opacity: 0.4;
}

.custom-cursor__innerhover {
  width: 25px;
  height: 25px;
  opacity: .4;
}

/* Section Title Css */

.section-title {
  position: relative;
  display: block;
  margin-bottom: 47px;
  z-index: 1;
}

.section-title__tagline-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.section-title__tagline-icon-box {
  position: relative;
  display: flex;
  align-items: center;
}

.section-title__tagline-icon-1 {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--finris-base);
  transform: rotate(45deg);
  border-radius: 4px;
  z-index: 2;
}

.section-title__tagline-icon-2 {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--finris-black);
  transform: rotate(45deg);
  border-radius: 4px;
  margin-left: -8px;
  z-index: 1;
}

.section-title__tagline {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 1em;
  color: var(--finris-black);
  font-weight: 500;
}

.section-title__title {
  color: var(--finris-black);
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 21px 0 0;
}

.section-title__title span {
  color: var(--finris-base);
  position: relative;
  display: inline-block;
}

.section-title__title .split-line {
  text-transform: uppercase;
}


.section-title-two {
  position: relative;
  display: block;
  margin-bottom: 47px;
  z-index: 1;
}

.section-title-two__tagline-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.section-title-two__tagline-icon-box {
  position: relative;
  display: flex;
  align-items: center;
}

.section-title-two__tagline-icon-1 {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--finris-black);
  border-radius: 50%;
  z-index: 1;
}

.section-title-two__tagline-icon-2 {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--finris-base);
  border-radius: 50%;
  margin-left: -9px;
  z-index: 1;
}

.section-title-two__tagline {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 1em;
  color: var(--finris-base);
  font-weight: 400;
  font-family: var(--finris-font-two);
  text-transform: uppercase;
}

.section-title-two__title {
  color: var(--finris-black);
  font-size: 40px;
  line-height: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 21px 0 0;
}

.section-title-two__title span {
  color: var(--finris-base);
  position: relative;
  display: inline-block;
}

.section-title-two__title span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(90deg, #6232F8 0%, rgba(98, 50, 248, 0) 100%);
}

.section-title-two__title .split-line {
  text-transform: uppercase;
}




/* Thm Btn Css */
.thm-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none !important;
  background-color: var(--finris-base);
  color: var(--finris-white);
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  padding: 21px 30px 21px;
  overflow: hidden;
  border-radius: 12px;
  transition: all 0.5s linear;
  z-index: 1;
}

.thm-btn>span {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
}


.thm-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 50%;
  height: 0;
  visibility: hidden;
  background-color: var(--finris-black);
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.thm-btn:hover:before {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.thm-btn::after {
  position: absolute;
  background-color: var(--finris-black);
  bottom: 0;
  right: 0;
  content: "";
  width: 50%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.thm-btn:hover::after {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.thm-btn:hover {
  color: var(--finris-white);
}


.thm-btn-two {
  border-radius: 30px;
}





/*---------------------------------
     Preloader CSS
-----------------------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 20000;
  overflow-x: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader div {
  width: 20px;
  height: 20px;
  margin: 0 10px 0;
  border-radius: 50px;
  transform-origin: 50% 0;
  display: inline-block;
  animation: bouncing 1.4s linear infinite;
}

.loader div:last-child {
  margin: 0;
}

.loader div:nth-child(1) {
  background-color: rgba(var(--finris-base-rgb), 1.0);
}

.loader div:nth-child(2) {
  background-color: rgba(var(--finris-base-rgb), 0.70);
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  background-color: rgba(var(--finris-base-rgb), 0.40);
  animation-delay: 0.4s;
}

@keyframes bouncing {

  0%,
  100% {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in;
  }

  45% {
    transform: translateY(50px) scale(1, 1);
    animation-timing-function: linear;
  }

  50% {
    transform: translateY(50px) scale(1.5, 0.5);
    animation-timing-function: linear;
  }

  55% {
    transform: translateY(50px) scale(1, 1);
    animation-timing-function: ease-out;
  }
}







/* scroll to top */
.scroll-to-top {
  display: flex;
  align-items: center;
  width: auto;
  height: 35px;
  background: transparent;
  position: fixed;
  bottom: 60px;
  right: -12px;
  z-index: 99;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: all 0.2s ease;
}

.scroll-to-top:hover {
  color: var(--finris-base);
}

.scroll-to-top__text {
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-left: 10px;
}

.scroll-to-top__wrapper {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: var(--finris-base);
  position: relative;
  overflow: hidden;
}

.scroll-to-top__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--finris-black);
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 70px;
}

/** xs sidebar **/
.xs-sidebar-group .xs-overlay {
  left: 0%;
  top: 0;
  position: fixed;
  height: 100%;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  -webkit-transition: all .4s ease-in .8s;
  -o-transition: all .4s ease-in .8s;
  transition: all .4s ease-in .8s;
  cursor: url(../images/icon/cross-out.png),
    pointer;
  z-index: 9999;
}

.xs-sidebar-group.isActive .xs-overlay {
  opacity: .8;
  visibility: visible;
  -webkit-transition: all .8s ease-out 0s;
  -o-transition: all .8s ease-out 0s;
  transition: all .8s ease-out 0s;
  right: 100%;
}

.xs-sidebar-group .widget-heading {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
}

.xs-sidebar-group .widget-heading a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.xs-sidebar-group .widget-heading a:hover {
  color: var(--finris-base);
  border-color: var(--finris-base);
}

.xs-sidebar-widget {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 360px;
  z-index: 999999;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  -o-transition: all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  transition: all 0.5s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  visibility: hidden;
  opacity: 0;
}

.xs-sidebar-group.isActive .xs-sidebar-widget {
  opacity: 1;
  visibility: visible;
  left: 0;
  background-color: var(--finris-black);
  -webkit-transition: all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
  -o-transition: all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
  transition: all 0.7s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}

.sidebar-textwidget {
  padding: 70px 30px;
}

.sidebar-widget-container {
  position: relative;
  top: 150px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in .3s;
  -o-transition: all .3s ease-in .3s;
  transition: all .3s ease-in .3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.xs-sidebar-group.isActive .sidebar-widget-container {
  top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease-out 1.2s;
  -o-transition: all 1s ease-out 1.2s;
  transition: all 1s ease-out 1.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.xs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: 0;
}

.xs-bg-black {
  background-color: #000000;
}

.xs-sidebar-group .content-inner .logo {
  position: relative;
  max-width: 172px;
  width: 100%;
  margin-bottom: 30px;
}

.xs-sidebar-group .content-inner h4 {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.xs-sidebar-group .content-inner .content-box {
  margin-bottom: 30px;
  padding-right: 15px;
}

.xs-sidebar-group .content-inner .content-box p {
  color: #ffffff;
}

.xs-sidebar-group .content-inner .form-inner .form-group {
  position: relative;
  margin-bottom: 20px;
}

.xs-sidebar-group .content-inner .form-inner .form-group:last-child {
  margin-bottom: 0px;
}

.xs-sidebar-group .content-inner .form-inner .form-group input[type='text'],
.xs-sidebar-group .content-inner .form-inner .form-group input[type='email'],
.xs-sidebar-group .content-inner .form-inner .form-group textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px 20px;
  color: #848484;
  border: none;
  outline: none;
  transition: all 500ms ease;
}

.xs-sidebar-group .content-inner .form-inner .form-group .form-inner__btn {
  border: none;
  outline: none;
  background-color: var(--finris-white);
  color: var(--finris-black);
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 21px 45px 21px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.xs-sidebar-group .content-inner .form-inner .form-group .form-inner__btn:hover {
  color: var(--finris-white);
}

.xs-sidebar-group .content-inner .form-inner .form-group .form-inner__btn:after {
  background-color: var(--finris-base);
}

.xs-sidebar-group .content-inner .form-inner .form-group textarea {
  resize: none;
  height: 120px;
}

.xs-sidebar-group .content-inner .form-inner .form-group input:focus,
.xs-sidebar-group .content-inner .form-inner .form-group textarea:focus {
  border-color: #00224f;
}



/*--------------------------------------------------------------
# Navigations One
--------------------------------------------------------------*/
.main-header {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: all 500ms ease;
  z-index: 999;
}

.main-header:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  background-color: rgba(var(--finris-white-rgb), 0.05);
  z-index: -1;
}

.main-menu {
  position: relative;
  display: block;
}

.main-menu__wrapper {
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(var(--finris-black-rgb), .10);
}

.main-menu__wrapper-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-menu__left {
  display: block;
}

.main-menu__logo {
  display: block;
  padding: 30.5px 0;
}

.main-menu__main-menu-box {
  display: block;
}

.main-menu__right {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.main-menu__search-box {
  position: relative;
  display: block;
}

.main-menu__search {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 26px;
  color: var(--finris-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.main-menu__search:hover {
  color: var(--finris-base);
}

.main-menu__btn-box {
  position: relative;
  display: block;
}

.main-menu__nav-sidebar-icon {
  position: relative;
  display: block;
}

.main-menu__nav-sidebar-icon a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid var(--finris-black);
  border-radius: 50%;
  font-size: 20px;
  color: var(--finris-black);
}

.main-menu__nav-sidebar-icon a:hover {
  border: 1px solid var(--finris-base);
  background-color: var(--finris-base);
  color: var(--finris-white);
}

.stricky-header.main-menu {
  background-color: #fbe1ec;
}

.main-menu .main-menu__list,
.main-menu .main-menu__list>li>ul,
.main-menu .main-menu__list>li>ul>li>ul,
.stricky-header .main-menu__list,
.stricky-header .main-menu__list>li>ul,
.stricky-header .main-menu__list>li>ul>li>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}



@media (min-width: 1200px) {

  .main-menu .main-menu__list,
  .main-menu .main-menu__list>li>ul,
  .main-menu .main-menu__list>li>ul>li>ul,
  .stricky-header .main-menu__list,
  .stricky-header .main-menu__list>li>ul,
  .stricky-header .main-menu__list>li>ul>li>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-menu .main-menu__list>li,
.stricky-header .main-menu__list>li {
  padding-top: 27px;
  padding-bottom: 27px;
  position: relative;
}

.main-menu .main-menu__list>li+li,
.stricky-header .main-menu__list>li+li {
  margin-left: 19px;
}

.main-menu .main-menu__list>li>a,
.stricky-header .main-menu__list>li>a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--finris-black);
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-weight: 500;
  line-height: 16px;
  padding: 10px 15px 10px;
  border-radius: 18px;
}

.main-menu .main-menu__list>li.current>a,
.main-menu .main-menu__list>li:hover>a,
.stricky-header .main-menu__list>li.current>a,
.stricky-header .main-menu__list>li:hover>a {
  color: var(--finris-base);
}

.main-menu .main-menu__list>li>a::before,
.stricky-header .main-menu__list>li>a::before {
  content: "";
  border: 1px solid var(--finris-black);
  border-radius: 18px;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  top: 0;
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: 1;
}

.main-menu .main-menu__list>li.current>a::before,
.main-menu .main-menu__list>li:hover>a::before,
.stricky-header .main-menu__list>li.current>a::before,
.stricky-header .main-menu__list>li:hover>a::before {
  transform: scale(1, 1);
  transform-origin: right center;
  border: 1px solid var(--finris-base);
}

.main-menu .main-menu__list>li.dropdown>a {
  padding-right: 30px;
}

.main-menu .main-menu__list>li.dropdown>a:after {
  position: absolute;
  top: 50%;
  right: 15px;
  font-family: "Font Awesome 5 Pro";
  content: "\f107";
  font-size: 14px;
  color: var(--finris-black);
  transform: translateY(-50%);
  font-weight: 700;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1;
}

.main-menu .main-menu__list>li.current>a::after,
.main-menu .main-menu__list>li:hover>a::after,
.stricky-header .main-menu__list>li.current>a::after,
.stricky-header .main-menu__list>li:hover>a::after {
  color: var(--finris-base);
}


img.clickMe {
  position: absolute;
  width: 30px;
  left: 21px;
  bottom: -22px;
  opacity: 0.20;
}



.main-menu .main-menu__list>li>ul,
.main-menu .main-menu__list>li>ul>li>ul,
.stricky-header .main-menu__list>li>ul,
.stricky-header .main-menu__list>li>ul>li>ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #121A46;
  min-width: 280px;
  padding: 25px 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transform: perspective(500px) rotatex(-20deg);
  transform-origin: 50% 0%;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 9%);
  -khtml-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 9%);
  -moz-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 9%);
  -ms-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 9%);
  -o-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 9%);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 9%);
  -webkit-transition: all 300ms linear 0ms;
  -khtml-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}

.main-menu .main-menu__list>li:hover>ul,
.main-menu .main-menu__list>li>ul>li:hover>ul,
.stricky-header .main-menu__list>li:hover>ul,
.stricky-header .main-menu__list>li>ul>li:hover>ul {
  opacity: 1;
  visibility: visible;
  transform: perspective(500px) rotatex(0);
}

.main-menu .main-menu__list>li>ul>li>ul>li>ul,
.stricky-header .main-menu__list>li>ul>li>ul>li>ul {
  display: none;
}



.main-menu .main-menu__list>li>ul>li,
.main-menu .main-menu__list>li>ul>li>ul>li,
.stricky-header .main-menu__list>li>ul>li,
.stricky-header .main-menu__list>li>ul>li>ul>li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  width: 100%;
  position: relative;
}

.main-menu .main-menu__list>li>ul>li+li,
.main-menu .main-menu__list>li>ul>li>ul>li+li,
.stricky-header .main-menu__list>li>ul>li+li,
.stricky-header .main-menu__list>li>ul>li>ul>li+li {
  border-top: 1px solid rgba(var(--finris-white-rgb), 0.05);
  margin-top: 0px;
}

.main-menu .main-menu__list>li>ul>li>a,
.main-menu .main-menu__list>li>ul>li>ul>li>a,
.stricky-header .main-menu__list>li>ul>li>a,
.stricky-header .main-menu__list>li>ul>li>ul>li>a {
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(var(--finris-white-rgb), 0.80);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 17px 0px 17px;
  -webkit-transition: all 200ms linear 0ms;
  -khtml-transition: all 200ms linear 0ms;
  -moz-transition: all 200ms linear 0ms;
  -ms-transition: all 200ms linear 0ms;
  -o-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
}

.main-menu .main-menu__list>li>ul>li:hover>a,
.main-menu .main-menu__list>li>ul>li>ul>li:hover>a,
.stricky-header .main-menu__list>li>ul>li:hover>a,
.stricky-header .main-menu__list>li>ul>li>ul>li:hover>a {
  color: rgba(var(--finris-white-rgb), 1.0);
  padding-left: 5px;
}

.main-menu .main-menu__list>li>ul>li.dropdown>a::before,
.main-menu .main-menu__list>li>ul>li>ul>li.dropdown>a::before,
.stricky-header .main-menu__list>li>ul>li.dropdown>a::before,
.stricky-header .main-menu__list>li>ul>li>ul>li.dropdown>a::before {
  position: absolute;
  top: 50%;
  right: 0px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  content: "\f105";
  font-size: 14px;
  color: var(--finris-white);
  transform: translateY(-50%) scale(1.0) rotate(0deg);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main-menu .main-menu__list>li>ul>li.dropdown:hover>a::before,
.main-menu .main-menu__list>li>ul>li>ul>li.dropdown:hover>a::before,
.stricky-header .main-menu__list>li>ul>li.dropdown:hover>a::before,
.stricky-header .main-menu__list>li>ul>li>ul>li.dropdown:hover>a::before {
  color: var(--finris-base);
  transform: translateY(-50%) scale(1) rotate(90deg);
}

.main-menu .main-menu__list>li>ul>li>ul,
.stricky-header .main-menu__list>li>ul>li>ul {
  top: 0;
  left: 100%;
  border-left: 40px solid transparent;
  background-color: transparent;
  width: 320px;
}

.main-menu .main-menu__list>li>ul>li>ul::before,
.stricky-header .main-menu__list>li>ul>li>ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  background-color: #121A46;
}

.main-menu .main-menu__list li ul li>ul.right-align,
.stricky-header .main-menu__list li ul li>ul.right-align {
  top: 0;
  left: auto;
  right: 100%;
}








.stricky-header {
  position: fixed;
  z-index: 991;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  visibility: hidden;
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
  -webkit-transition: visibility 500ms ease, -webkit-transform 500ms ease;
  transition: visibility 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, visibility 500ms ease;
  transition: transform 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1199px) {
  .stricky-header {
    display: none !important;
  }
}

.stricky-header.stricky-fixed {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}

.stricky-header .main-menu__inner {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 0;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.mobile-nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

@media (min-width: 1200px) {
  .mobile-nav__buttons {
    display: none;
  }
}

.mobile-nav__buttons a {
  font-size: 20px;
  color: var(--finris-base);
  cursor: pointer;
}

.mobile-nav__buttons a+a {
  margin-left: 10px;
}

.mobile-nav__buttons a:hover {
  color: var(--finris-base);
}

.main-menu .mobile-nav__toggler {
  font-size: 20px;
  color: var(--finris-base);
  cursor: pointer;
  -webkit-transition: 500ms;
  transition: 500ms;
  position: relative;
  top: 2px;
}

.main-menu .mobile-nav__toggler:hover {
  color: var(--finris-black);
}

@media (min-width: 1200px) {
  .main-menu .mobile-nav__toggler {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Nav
--------------------------------------------------------------*/
.mobile-nav__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: transform 500ms ease 500ms, visibility 500ms ease 500ms;
  transition: transform 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  visibility: hidden;
}

.mobile-nav__wrapper .container {
  padding-left: 0;
  padding-right: 0;
}

.mobile-nav__wrapper.expanded {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  visibility: visible;
  -webkit-transition: visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: transform 500ms ease 0ms, visibility 500ms ease 0ms;
  transition: transform 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
}

.mobile-nav__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  cursor: pointer;
}

.mobile-nav__content {
  width: 300px;
  background-color: var(--finris-black);
  z-index: 10;
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
}

.mobile-nav__wrapper.expanded .mobile-nav__content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
}

.mobile-nav__content .logo-box {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-nav__close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 18px;
  color: var(--finris-white);
  cursor: pointer;
}

.mobile-nav__content .main-menu__list,
.mobile-nav__content .main-menu__list>li>ul,
.mobile-nav__content .main-menu__list>li>ul>li>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile-nav__content .main-menu__list>li>ul,
.mobile-nav__content .main-menu__list>li>ul>li>ul {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 0.5em;
}

.mobile-nav__content .main-menu__list>li:not(:last-child),
.mobile-nav__content .main-menu__list>li>ul>li:not(:last-child),
.mobile-nav__content .main-menu__list>li>ul>li>ul>li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-nav__content .main-menu__list>li>a>.main-menu-border {
  display: none !important;
}

.mobile-nav__content .main-menu__list>li>a,
.mobile-nav__content .main-menu__list>li>ul>li>a,
.mobile-nav__content .main-menu__list>li>ul>li>ul>li>a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-family: var(--finris-font, "Rubik", sans-serif);
  font-weight: 500;
  height: 46px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mobile-nav__content .main-menu__list>li>a.expanded .mobile-nav__content .main-menu__list>li>ul>li>a.expanded .mobile-nav__content .main-menu__list>li>ul>li>ul>li>a.expanded {
  color: var(--finris-base);
}

.mobile-nav__content .main-menu__list li a.expanded {
  color: var(--finris-base);
}

.mobile-nav__content .main-menu__list>li>a>button,
.mobile-nav__content .main-menu__list>li>ul>li>a>button,
.mobile-nav__content .main-menu__list>li>ul>li>ul>li>a>button {
  width: 30px;
  height: 30px;
  background-color: var(--finris-base);
  border: none;
  outline: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  padding: 0;
}

.mobile-nav__content .main-menu__list>li>a>button.expanded,
.mobile-nav__content .main-menu__list>li>ul>li>a>button.expanded,
.mobile-nav__content .main-menu__list>li>ul>li>ul>li>a>button.expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: #fff;
  color: var(--finris-base);
}

/* no menu after 2rd level dropdown */
.mobile-nav__content .main-menu__list>li>ul>li>ul>li>a>button,
.mobile-nav__content .main-menu__list>li>ul>li>ul>li>ul {
  display: none !important;
}

.mobile-nav__content .main-menu__list li.cart-btn span {
  position: relative;
  top: auto;
  right: auto;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.mobile-nav__content .main-menu__list li.cart-btn i {
  font-size: 16px;
}

.mobile-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.mobile-nav__top .main-menu__login a {
  color: var(--finris-text-dark);
}

.mobile-nav__container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav__social a {
  font-size: 16px;
  color: var(--finris-white);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mobile-nav__social a+a {
  margin-left: 30px;
}

.mobile-nav__social a:hover {
  color: var(--finris-base);
}

.mobile-nav__contact {
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobile-nav__contact li {
  color: var(--finris-text-dark);
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav__contact li+li {
  margin-top: 15px;
}

.mobile-nav__contact li a {
  color: #ffffff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mobile-nav__contact li a:hover {
  color: var(--finris-base);
}

.mobile-nav__contact li>i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--finris-base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  margin-right: 10px;
  color: #fff;
}

.mobile-nav__container .main-logo,
.mobile-nav__container .topbar__buttons,
.mobile-nav__container .main-menu__language,
.mobile-nav__container .main-menu__login {
  display: none;
}



/*--------------------------------------------------------------
# Megamenu Popup
--------------------------------------------------------------*/
.mobile-nav__container .main-menu__list>.megamenu.megamenu-clickable>ul,
.main-menu .main-menu__list>.megamenu.megamenu-clickable>ul,
.stricky-header .main-menu__list>.megamenu.megamenu-clickable>ul {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
  z-index: 999999;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  padding: 0;
  background-color: #121A46;
  display: block !important;
  margin: 0;
}

.main-menu__list>li.megamenu-clickable>ul::-webkit-scrollbar {
  display: none;
}

.mobile-nav__container .main-menu__list>.megamenu.megamenu-clickable>ul.megamenu-clickable--active,
.main-menu .main-menu__list>.megamenu.megamenu-clickable>ul.megamenu-clickable--active,
.stricky-header .main-menu__list>.megamenu.megamenu-clickable>ul.megamenu-clickable--active {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
}




body.megamenu-popup-active {
  overflow: hidden;
}

body.megamenu-popup-active .stricky-header {
  bottom: 0;
}

body.megamenu-popup-active .mobile-nav__content {
  overflow: unset;
}

.mobile-nav__content .megamenu-popup-content-one .container {
  padding-left: 15px;
  padding-right: 15px;
}

.megamenu-popup {
  position: relative;
}

.megamenu-popup .megamenu-clickable--close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--finris-white);
  background-color: rgba(255, 255, 255, 0.2);
}



@media (min-width: 1300px) {
  .megamenu-popup .megamenu-clickable--close {
    top: 0px;
    right: 0px;
  }
}

.megamenu-popup .megamenu-clickable--close:hover {
  color: var(--finris-primary);
}





.megamenu-popup .megamenu-clickable--close span {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  color: currentColor;
  transition: all 500ms ease;
}

.megamenu-popup .megamenu-clickable--close span::before,
.megamenu-popup .megamenu-clickable--close span::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.megamenu-popup .megamenu-clickable--close span::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

/*--------------------------------------------------------------
# Home Showcase
--------------------------------------------------------------*/
.megamenu-popup-content-one {
  padding-top: 120px;
  padding-bottom: 120px;
}

.megamenu-popup-content-one .row {
  --bs-gutter-y: 30px;
  justify-content: center;
}

.megamenu-popup-content-one__single {
  background-color: var(--finris-white);
  box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
  text-align: center;
  border-radius: var(--finris-bdr-radius);
  transition: 500ms ease;
  transform: translateY(0px);
}

.megamenu-popup-content-one__single:hover {
  transform: translateY(-10px);
}

.megamenu-popup-content-one__image {
  position: relative;
  overflow: hidden;
  border-top-left-radius: var(--finris-bdr-radius);
  border-top-right-radius: var(--finris-bdr-radius);
}

.megamenu-popup-content-one__image img {
  max-width: 100%;
  width: 100%;
  border-top-left-radius: var(--finris-bdr-radius);
  border-top-right-radius: var(--finris-bdr-radius);
  transition: filter 500ms ease;
  filter: blur(0px);
}

.megamenu-popup-content-one__single:hover .megamenu-popup-content-one__image img {
  filter: blur(2px);
}

.megamenu-popup-content-one__btns {
  background-color: rgba(var(--finris-black-rgb), .70);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: scale(1, 0);
  transition: transform 500ms ease, opacity 600ms linear;
  transform-origin: top center;
  opacity: 0;
}

.megamenu-popup-content-one__single:hover .megamenu-popup-content-one__btns {
  transform: scale(1, 1);
  opacity: 1;
  transform-origin: bottom center;
}

.megamenu-popup-content-one__title {
  margin: 0;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--finris-white);
  background-color: var(--finris-base);
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 16px;
  letter-spacing: 0.09em;
}

.megamenu-popup-content-one__title a {
  color: inherit;
  background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95%/0px 1px no-repeat;
  transition: all 500ms ease;
}

.megamenu-popup-content-one__title a:hover {
  background-size: 100% 1px;
}

.megamenu-popup-content-one__btn {
  padding: 19px 20px 19px;
  width: 155px;
  text-align: center;
}

.megamenu-popup-content-one__btn::after {
  background-color: var(--finris-white);
}

.megamenu-popup-content-one__btn:hover {
  color: var(--finris-black);
}


@media (max-width: 1199px) {
  .megamenu-popup-content-one__btns {
    flex-direction: column;
  }
}



/*--------------------------------------------------------------
# Navigations Two
--------------------------------------------------------------*/
.main-header-two {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: all 500ms ease;
  z-index: 999;
}

.main-header-two:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  background-color: rgba(var(--finris-white-rgb), 0.02);
  z-index: -1;
}

.main-menu-two__top {
  position: relative;
  display: block;
}

.main-menu-two__top-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 55px 9px;
  border-bottom: 1px solid rgba(var(--finris-white-rgb), .10);
}

.main-menu-two__contact-list {
  position: relative;
  display: flex;
  align-items: center;
}

.main-menu-two__contact-list li {
  position: relative;
  display: flex;
  align-items: center;
}

.main-menu-two__contact-list li+li {
  margin-left: 46px;
}

.main-menu-two__contact-list li:before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 2px;
  left: -23px;
  width: 1px;
  background-color: rgba(var(--finris-white-rgb), .20);
}

.main-menu-two__contact-list li:first-child:before {
  display: none;
}

.main-menu-two__contact-list li .icon {
  position: relative;
  display: flex;
  align-items: center;
}

.main-menu-two__contact-list li .icon i {
  font-size: 16px;
  color: var(--finris-primary);
  position: relative;
  display: inline-block;
}

.main-menu-two__contact-list li .text {
  margin-left: 10px;
}

.main-menu-two__contact-list li .text p {
  font-size: 16px;
  font-weight: 400;
  color: var(--finris-white);
  text-transform: uppercase;
  font-family: var(--finris-font-two);
  letter-spacing: 0.03em;
  line-height: 16px;
}

.main-menu-two__contact-list li .text p a {
  color: var(--finris-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu-two__contact-list li .text p a:hover {
  color: var(--finris-primary);
}

.main-menu-two__top-welcome-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--finris-white);
  text-transform: uppercase;
  font-family: var(--finris-font-two);
  letter-spacing: 0.03em;
  line-height: 16px;
}

.main-menu-two__top-right {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-menu-two__top-time {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-menu-two__top-time-icon {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-menu-two__top-time-icon span {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: var(--finris-primary);
}

.main-menu-two__top-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--finris-white);
  text-transform: uppercase;
  font-family: var(--finris-font-two);
  letter-spacing: 0.03em;
  line-height: 16px;
  margin-left: 10px;
}

.main-menu-two__social {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.main-menu-two__social a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(var(--finris-white-rgb), .10);
  border-radius: 5px;
  font-size: 15px;
  color: var(--finris-white);
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 1;
}

.main-menu-two__social a:hover {
  color: var(--finris-white);
  border: 1px solid var(--finris-primary);
}

.main-menu-two__social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--finris-primary);
  transform: scale(0.5);
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: -1;
}

.main-menu-two__social a:hover::before {
  transform: scale(1.0);
  opacity: 1;
}

.main-menu-two__social a+a {
  margin-left: 5px;
}

.main-menu-two__wrapper {
  position: relative;
  display: block;
}

.main-menu-two__wrapper-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 55px;
}

.main-menu-two__left {
  display: block;
}

.main-menu-two__logo {
  display: block;
  padding: 30.5px 0;
}

.main-menu-two__main-menu-box {
  display: block;
}

.main-menu-two__right {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.main-menu-two__call {
  position: relative;
  display: flex;
  align-items: center;
}

.main-menu-two__call-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--finris-base);
  border-radius: 50%;
  color: var(--finris-white);
  font-size: 17px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu-two__call-icon:hover {
  background-color: var(--finris-primary);
  color: var(--finris-white);
}

.main-menu-two__call-content {
  position: relative;
  display: block;
  margin-left: 10px;
}

.main-menu-two__call-sub-title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(var(--finris-white-rgb), .90);
  line-height: 14px;
  font-family: var(--finris-font-two);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-menu-two__call-number {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 6px;
  font-family: var(--finris-font-two);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-menu-two__call-number a {
  color: var(--finris-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu-two__call-number a:hover {
  color: var(--finris-primary);
}

.main-menu-two__search-cart-box {
  position: relative;
  display: flex;
  align-items: center;
}

.main-menu-two__search-box {
  position: relative;
  display: block;
}

.main-menu-two__search {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--finris-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.main-menu-two__search:hover {
  color: var(--finris-primary);
}

.main-menu-two__cart-box {
  position: relative;
  display: block;
  margin-left: 20px;
}

.main-menu-two__cart {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--finris-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu-two__cart:hover {
  color: var(--finris-primary);
}

.main-menu-two__btn::after {
  background-color: var(--finris-white);
}

.main-menu-two__btn:hover {
  color: var(--finris-black);
}


.main-menu-two .main-menu__list>li>a,
.stricky-header.main-menu-two .main-menu__list>li>a {
  color: var(--finris-white);
}

.main-menu-two .main-menu__list>li>a::before,
.stricky-header.main-menu-two .main-menu__list>li>a::before {
  border: 1px solid var(--finris-primary);
}

.main-menu-two .main-menu__list>li.dropdown>a:after {
  color: var(--finris-white);
}

.main-menu-two .main-menu__list>li.current>a,
.main-menu-two .main-menu__list>li:hover>a,
.stricky-header.main-menu-two .main-menu__list>li.current>a,
.stricky-header.main-menu-two .main-menu__list>li:hover>a {
  color: var(--finris-primary);
}

.main-menu-two .main-menu__list>li.current>a::before,
.main-menu-two .main-menu__list>li:hover>a::before,
.stricky-header.main-menu-two .main-menu__list>li.current>a::before,
.stricky-header.main-menu-two .main-menu__list>li:hover>a::before {
  border: 1px solid var(--finris-primary);
}

.main-menu-two .main-menu__list>li.current>a::after,
.main-menu-two .main-menu__list>li:hover>a::after,
.stricky-header.main-menu-two .main-menu__list>li.current>a::after,
.stricky-header.main-menu-two .main-menu__list>li:hover>a::after {
  color: var(--finris-primary);
}


.stricky-header.main-menu-two {
  background-color: var(--finris-black);
}



/*--------------------------------------------------------------
# Navigations three
--------------------------------------------------------------*/
.main-header-three {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: all 500ms ease;
  z-index: 999;
}






/*--------------------------------------------------------------
# Search Popup
--------------------------------------------------------------*/
.search-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 99999;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.search-active .search-popup {
  transform: translateY(0%);
}

.search-popup .color-layer {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: var(--finris-base);
  transition: all 0.5s;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.sidenav-bar-visible .search-popup {
  display: none;
}

.search-popup .close-search {
  position: absolute;
  right: 25px;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0%;
  cursor: pointer;
  color: #ffffff;
  font-size: 30px;
  transition: all 0.5s;
  border: none;
  opacity: 0;
  transform: translateX(100px);
  visibility: hidden;
  z-index: 9999;
}

.search-popup .close-search:hover {
  color: var(--finris-base);
  background-color: rgba(255, 255, 255, 1.0);
}

.search-active .search-popup .close-search {
  opacity: 1;
  transform: translateX(0px);
  visibility: visible;
  -webkit-transition-delay: 1500ms;
  -moz-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  transition-delay: 1500ms;
}




.search-popup form {
  position: absolute;
  max-width: 700px;
  top: 25px;
  left: 0px;
  right: 0px;
  margin: 0px auto 0;
  opacity: 0;
  transition: all 0.5s;
  z-index: 999;
}

.search-active .search-popup form {
  opacity: 1;
}

.search-popup .form-group {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
}

.search-popup .form-group input[type="text"],
.search-popup .form-group input[type="search"] {
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, 1.0);
  font-size: 18px;
  color: var(--finris-black);
  height: 70px;
  width: 100%;
  padding: 10px 30px 10px 75px;
  font-weight: 500;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  text-transform: capitalize;
  border: 0px solid rgba(0, 0, 0, 0.10)
}

.search-popup .form-group input[type="text"],
.search-popup .form-group input[type="search"]:focus {
  outline: none;
}

.search-popup .form-group input[type="submit"],
.search-popup .form-group button {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 70px;
  background: var(--finris-black);
  text-align: center;
  font-size: 20px;
  color: var(--finris-white);
  padding: 0;
  cursor: pointer;
  border: none;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 60px;
}

.search-popup .form-group button i {
  font-style: normal;
}

.search-popup .form-group input[type="submit"]:hover,
.search-popup .form-group button:hover {
  background-color: var(--finris-primary);
}

.search-popup input::placeholder {
  color: var(--finris-black);
}






/*--------------------------------------------------------------
# Edit All Css
--------------------------------------------------------------*/
.portfolio-one__btn::after {
  background-color: var(--finris-white);
}

.portfolio-one__btn::before {
  background-color: var(--finris-white);
}

.portfolio-one__btn:hover {
  color: var(--finris-black);
}

.comment-one__btn {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 5px 9px 5px;
  border-radius: 13px;
  gap: 5px;
}

.comment-one__btn span {
  font-size: 10px;
}

.sidebar__subscribe-btn {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  padding: 19px 25px 19px;
}

.cta-three__btn {
  border: none;
}

.services-details__contact-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 21px 25px 21px;
  gap: 5px;
  border-radius: 30px;
}

.services-details__contact-btn i {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/*--------------------------------------------------------------
# Carousle Dot Style
--------------------------------------------------------------*/

.carousel-dot-style.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.carousel-dot-style.owl-carousel .owl-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.carousel-dot-style.owl-carousel .owl-item.active {
  opacity: 1;
  visibility: visible;
}

.carousel-dot-style.owl-carousel .owl-dots {
  position: absolute;
  bottom: -50px;
  left: 0px;
  right: 0;
  text-align: center;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-dot-style.owl-carousel .owl-dots .owl-dot {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--finris-base);
  margin: 0px 5px;
  padding: 0px;
  transition: all 100ms linear;
  transition-delay: 0.1s;
}

.carousel-dot-style.owl-carousel .owl-dot.active {
  width: 10px;
  height: 10px;
  background-color: var(--finris-black);
}

.carousel-dot-style.owl-carousel .owl-dot:focus {
  outline: none;
}

.carousel-dot-style.owl-carousel .owl-dots .owl-dot span {
  display: none;
}

.banner-two__btn::after {
  background-color: var(--finris-white);
}

.banner-two__btn:hover {
  color: var(--finris-black);
}






/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/